@import "../components/variables.scss";

.button-primary {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 0.6rem 0.6rem 0.5rem 1rem;
  border-radius: 10px;
  background: $gradient-teal-reverse;
  color: #fff;
  font-weight: 500;
  border: $color-white 1px solid;
  width: fit-content;
  outline: none;
  span {
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background-color: $color-teal-dark;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 12px;
      height: auto;
    }
  }
}

.button-secondary {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 0.6rem 0.6rem 0.5rem 1rem;
  border-radius: 10px;
  background: 0005;
  backdrop-filter: blur(10px) brightness(0.9);
  color: #fff;
  font-weight: 500;
  border: $color-beige 1px solid;
  width: fit-content;
  outline: none;

  span {
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background-color: $color-teal-dark;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 12px;
      height: auto;
    }
  }
}

.button-secondary,
.button-primary {
  transition: all 0.3s ease;
  box-shadow: 0 4px 0px rgba(255, 255, 255, 0);
  font-size: 20px !important;
  cursor: pointer;
  span {
    transition: all 0.3s ease;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
    span {
      margin-left: 7px;
    }
  }
}
